doctype html
head
  meta(charset=utf-8)

body
  table
    tr
      td
        div#vis(style=`width:${width}px; height:${height}px;`)
      td
        div(style="width:540px; height:540px")
          oc-molecule#structure

  input#search(type="text" list="materials" placeholder="Search (e.g. H2O)")
  datalist#materials

  div
    table(cellpadding="10")
      tr
        td
          span Node Color
          br
          select#color
            option(data-name="none") (none)
            option(selected data-name="discovery") Year of Discovery
            option(data-name="boolean") Discovered/Hypothetical
            option(data-name="undiscovered") Discovered/Undiscovered
          br
          input#coloryear(type="range" min="1945" max="2015" step="1" value="1945")
          span#coloryeardisplay 1945
        td
          span Node Size
          br
          select#size
            option(data-name="none") (none)
            option(selected data-name="degree/normal") Degree
            option(data-name="degree/large") Degree - Large
            option(data-name="degree/huge") Degree - Huge
        td
          input#links(type="checkbox" checked)
          label(for="links") Links

        td
          label(for="zoom") Zoom
          br
          input#zoom(type="range" min="0" max="113")

        td
          label(for="opacity") Link opacity
          br
          input#opacity(type="range" min="3" max="1000")

        td
          label(for="spacing") Node spacing
          br
          input#spacing(type="range" min="1" max="10")

        td
          label#filterlabel(for="filter") Show all materials
          br
          input#filter(type="range" min="1945" max="2016" value="2016")
          br
          button#autoplay Autoplay

  div#infopanel
