html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  width: 100%;
  max-width: 100rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}

.logo {
  height: 2.5rem;
}

.geojs-layer[renderer='webgl'] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
