doctype html
head
  meta(charset=utf-8)

body
  table
    tr
      td
        div#vis
      td
        div(style="width:50vh; height:50vh")
          oc-molecule#structure

  div
    table(cellpadding="10")
      tr
        td
          span Node Color
          br
          select#color
            option(data-name="none") (none)
            option(selected data-name="discovery") Year of Discovery
        td
          span Node Size
          br
          select#size
            option(data-name="none") (none)
            option(selected data-name="degree") Degree
        td
          input#links(type="checkbox" checked)
          label(for="links") Links

        td
          label(for="zoom") Zoom
          br
          input#zoom(type="range" min="0" max="113")

  div#infopanel
