doctype html
head
  meta(charset=utf-8)

body
  div#vis

  div
    table(cellpadding="10")
      tr
        td
          span Node Color
          br
          select#color
            option(data-name="none") (none)
            option(selected data-name="discovery") Year of Discovery
        td
          span Node Size
          br
          select#size
            option(data-name="none") (none)
            option(selected data-name="degree") Degree
        td
          input#links(type="checkbox" checked)
          label(for="links") Links

        td
          label(for="zoom") Zoom
          br
          input#zoom(type="range" min="0" max="113")

  div
    h1#name
    span#degree
